.connect{
  
    display: block;
    @media screen and (max-width: 767px) {
      @include sectionMobPadding;
    }
  }
 .connect__box{
  display: block;
  margin: 0 auto;
    
 }


  .connect__title {
    margin:0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-background-color);
  }
 
  .connect__list {
    @extend %list-style;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    & li:not(:last-child) {
      margin-right: 10px;
    }
  }
//   Форма подписки в футуре
.connect__icon {
  margin-left: 10px;
}
.connect__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  padding: 15px 16px;
  margin: 20px 0px;
  &:focus {
      border-color: var(--hover-text-color);
      outline: 0;
      fill: var(--hover-text-color);
    }
}
  