header {
    border-bottom: 1px solid var(--border-head-color);
  }
 .header{
  // position: relative;
    @include flexCenter($main-axis: space-between);
 }
  .header-nav {
   
    @include flexCenter($main-axis: space-between);
    
  }
  /* Стилизация меню */
  
  .menu{
    display: none;   
  }
  .menu.is-open{
    display: inline-block;
  }
  
  
  .header-menu__link{
    .header-menu &:hover ,
    .header-menu &:focus  {
     color: var(--hover-text-color);
   }
  }
  

  .header-menu__items{
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .header-contact__items {
        &:not(:last-child) {
        margin-bottom: 10px;
    }
  }
  .header-contact{
    display: block;   
    @extend %list-style;
    
  }
  
 
  .header-contact__link{
    .header-contact & {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    
    transition: color 250ms var(--cubic-bezier);
    }
    
  }
  .header-contact__link{
    .header-contact &:hover,
    .header-contact &:focus{
      color: var(--hover-text-color);
    }
  }

  .header-contact__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  