header {
    border-bottom: 1px solid var(--border-head-color);
  }
 .header{
  // position: relative;
    @include flexCenter($main-axis: space-between);
 }
  .header-nav {
   
    @include flexCenter($main-axis: space-between);
    
  }
  /* Стилизация меню */
  
  .menu{
    display: none;   
  }
  .menu.is-open{
    display: inline-block;
  }
  
  
  .header-menu__link{
    .header-menu &:hover ,
    .header-menu &:focus  {
     color: var(--hover-text-color);
   }
  }
  

  .header-menu__items{
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .header-contact__items {
        &:not(:last-child) {
        margin-bottom: 10px;
    }
  }

  