.hero-box {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob.jpg);
      background-size: cover;
  }
  .hero-box__title {
    margin-top: 0;
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);
  }
  