%list-style {
    padding: 0;
    margin: 0;
    list-style: none;
}
// %section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
 
  %section__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 50px;
  }
  %header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  
