:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --hover-text-color: #2196f3;
    --text-color: #757575;
    --title-color: #212121;
    --hero-bg-hover: #188ce8;
    --contact-footer-text: rgba(255, 255, 255, 0.6);
    --logo-stan-color: #000000;
    --border-color: #eeeeee;
    --border-head-color: #ececec;
    --icons-border-color: #afb1b8;
    --thumb-color: rgba(47, 48, 58, 0.8);
    --black: #000000;
    --border-second-color: rgba(0, 0, 0, 0.1);
    --pot-card-bg: rgba(33, 150, 243, 0.9);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --body-font-family: "Roboto", sans-serif;
    --logo-font-family: "Raleway", sans-serif;
  }
  $fontPrimary: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;
